/* 
DayPilot Calendar Theme 
https://themes.daypilot.org/calendar/theme/arv2g5
Theme Designer Version: 2021.09.25.67272
*/
.daypilotcalendar_main 
{
	border: 0px solid #c0c0c0;
}
.daypilotcalendar_main, .daypilotcalendar_main td 
{
	font-family: 'DM sans',system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
	font-size: 14px;
	
}
.daypilotcalendar_main {
	min-width: 1400px;
	margin-top: -100px;

}

.daypilotcalendar_main div::-webkit-scrollbar {
  display: none;
}

.daypilotcalendar_event { 
	color: #23235F;
	font-weight: 700;
}
.daypilotcalendar_event_inner { 
	position: absolute;
	overflow: hidden;
	margin: 1px;
	background-color: #f2f2f2;
	padding: 15px;
	border: 1px solid #cccccc;
	left: 2px;
	right: 2px;
	top: 0px;
	bottom: 3px;
	-moz-box-shadow:
		inset 2px 0px 2px rgba(255,255,255,0.8),
		1px 2px 3px rgba(000,000,000,0.3);
	-webkit-box-shadow:
		inset 2px 0px 2px rgba(255,255,255,0.8),
		1px 2px 3px rgba(000,000,000,0.3);
	box-shadow:
		inset 2px 0px 2px rgba(255,255,255,0.8),
		1px 2px 3px rgba(000,000,000,0.3);
}
.daypilotcalendar_alldayevent { 
}
.daypilotcalendar_alldayevent_inner { 
	position: absolute;
	overflow: hidden;
	left: 1px;
	right: 0px;
	top: 1px;
	bottom: 0px;
	margin: 0px;
	color: #333333;
	background-color: #ffffff;
	padding: 2px;
	border: 1px solid #cccccc;
	text-align: left;
}
.daypilotcalendar_alldayheader_inner
{
	text-align: center; 
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid  #c0c0c0;
	color: #333333;
	background: #f3f3f3;
}
.daypilotcalendar_colheader_inner
{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 16px;
	font-weight: 700;
	padding: 20px;
	position: absolute;
	top: 85px;
	left: 5px;
	bottom: 7px;
	right: 5px;
	border-right: 0px solid #c0c0c0;
	border-bottom: 0px solid #c0c0c0;
	border-radius: 10px;
	color: #23235F;
	background: rgb(255 255 255);
	
}
.daypilotcalendar_rowheader_inner
{
	font-size: 16pt;
	text-align: center;
	font-weight: 700; 
	position: absolute;
	padding-top: 10px !important;
	top: 1px;
	left: 3px;
	bottom: 3px;
	right: 3px;
	border-right: 0px solid #c0c0c0;
	border-bottom: 0px solid  #c0c0c0;
	border-radius: 10px;
	color: #23235F;
	background: rgb(255 255 255);
}
.daypilotcalendar_rowheader_minutes 
{
	font-size:10px; 
	vertical-align: super; 
	padding-left: 2px;
	padding-right: 2px;
}
.daypilotcalendar_corner_inner
{
  display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 0px solid #c0c0c0;
	border-bottom: 0px solid  #c0c0c0;
	color: #333333;
	background: rgba(243, 247, 250, 1);
}
.daypilotcalendar_cornerright_inner
{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 0px solid #c0c0c0;
	border-bottom: 0px solid  #c0c0c0;
	color: #333333;
	background: rgba(243, 247, 250, 1);
}
.daypilotcalendar_rowheader_inner {
	padding-left: 10px;
	padding-top: 12px;
}
.daypilotcalendar_cell_inner
{
	position: absolute;
	top: 0px;
	left: 5px;
	bottom: 0px;
	right: 5px;
	border-right: 2px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background: #f9f9f9;
}
.daypilotcalendar_cell_business .daypilotcalendar_cell_inner {
	background: #ffffff;
}
.daypilotcalendar_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	color: #ffffff;
	background: #ffa216;
}
.daypilotcalendar_shadow_inner 
{
	background-color: #5051F9;
	opacity: 0.2;
	filter: alpha(opacity=50);
	height: 100%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-left: 4px;
	margin-right: 4px;
}
.daypilotcalendar_event_bar
{
	top: 2px;
	left: 4px;
	bottom: 4px;
	width: 6px;
	background-color: #9dc8e8;
}
.daypilotcalendar_event_bar_inner  
{
	position: absolute;
	width: 4px;
	background-color: #1ea7ff;
}
.daypilotcalendar_event_delete {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat; 
	opacity: 0.6; 
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)'; 
	cursor: pointer;
}
.daypilotcalendar_event_delete:hover {
	opacity: 1;
	-ms-filter: none;
}
.daypilotcalendar_scroll_up {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAB3RJTUUH2wESDiYcrhwCiQAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAARnQU1BAACxjwv8YQUAAACcSURBVHjaY2AgF9wWsTW6yGMlhi7OhC7AyMDQzMnBXIpFHAFuCtuaMTP+P8nA8P/b1x//FfW/HHuF1UQmxv+NUP1c3OxMVVhNvCVi683E8H8LXOY/w9+fTH81tF8fv4NiIpBRj+YoZtZ/LDUoJmKYhsVUpv0MDiyMDP96sIYV0FS2/8z9ICaLlOhvS4b/jC//MzC8xBG0vJeF7GQBlK0xdiUzCtsAAAAASUVORK5CYII=);
}
.daypilotcalendar_scroll_down {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAALiMAAC4jAXilP3YAAACqSURBVChTY7wpam3L9J+xmQEP+PGPKZZxP4MDi4zI78uMDIwa2NT+Z2DYovrmiC+TI8OBP/8ZmEqwGvif4e8vxr+FIDkmEKH25vBWBgbG0+iK/zEwLtF+ffwOXCGI8Y+BoRFFIdC030x/WmBiYBNhpgLdswNJ8RSYaSgmgk39z1gPUfj/29ef/9rwhQTDHRHbrbdEbLvRFcGthkkAra/9/uMvhkK8piNLAgCRpTnNn4AEmAAAAABJRU5ErkJggg==);
}
.daypilotcalendar_now { background-color: red; }
.daypilotcalendar_crosshair_vertical, .daypilotcalendar_crosshair_horizontal, .daypilotcalendar_crosshair_left, .daypilotcalendar_crosshair_top { background-color: gray; opacity: 0.2; filter: alpha(opacity=20); }
.daypilotcalendar_loading { background-color: orange; color: white; padding: 2px; }
.daypilotcalendar_scroll { background-color: #f3f3f3; }
