.uploadPhoto {
  background-color: #EDECFE;
  color: white;
  padding: 0.5rem;
  font-family: DM sans;
  border-radius: 0.3rem;
  cursor: pointer;
  //margin-top: 1rem;
  //margin-left: 4.75rem;
  font-size: 12px;
}